
    <div class="container">
        <div class="jumbotron">
            
                    <div class="p-3 mb-2 bg-light text-dark">
                        <span class="d-block p-2 bg-light text-dark">
                    List of Users
                  </span>
                    </div>
            
            <div class="card">
                  
                      <table class="table">
                        <thead>
                        <tr>
                              <th scope="col">First Name</th>
                              <th scope="col">Last Name</th>
                              <th scope="col">Email</th>
                              <th scope="col">SSO ID</th>
                      </tr>
                      </thead>
                      </table>  
                             
                      </div>
               
              
                      <div class="p-3 mb-2 bg-light text-dark">
                          
                      <button type="button" class="btn btn-link"> 
                      <a class="active"  routerLink="Userreg"> Add New User</a>
                      </button>
                      
                    </div>
                  
                    
        </div>
        </div>          
        
        <router-outlet></router-outlet>	