
    <div class="container">
    <div class="jumbotron">
        <div class="p-1 mb-2 bg-light text-dark">
          <span class="d-block p-2 bg-light text-dark">
            <h4>    
           User Registration Form 
          </h4>      
          </span>
      </div>
         
    <form #userregForm ="ngForm" (ngSubmit) = "onClickSubmit(userregForm.value)">
    <div class="form-group row form-sm">
        <label for="firstname" class="col-sm-3 col-form-label">First Name</label>
        <div class="col-sm-6">
          <div class="md-form mt-0">
            <input mdbInput type="text" class="form-control form-control-sm" name="firstname"  [(ngModel)]="firstname"  id="firstname" placeholder="First name">
          </div>
        </div>
      </div>
     <div class="form-group row form-group-sm">
          <label for="lastname" class="col-sm-3 col-form-label">Last Name</label>
          <div class="col-sm-6">
            <div class="md-form mt-0">
              <input mdbInput type="text" class="form-control form-control-sm" name="lastname"  [(ngModel)]="lastname" id="lastname" placeholder="Last name" ngModel>
            </div>
          </div>
        </div>

        <div class="form-group row form-group-sm">
            <label for="ssoid" class="col-sm-3 col-form-label">SSO ID</label>
            <div class="col-sm-6">
              <div class="md-form mt-0">
                <input mdbInput type="number" class="form-control form-control-sm" name="ssoid"  [(ngModel)]="ssoid" id="ssoid" placeholder="SSO ID" ngModel>
              </div>
            </div>
          </div>

          <div class="form-group row form-group-sm">
              <label for="email" class="col-sm-3 col-form-label">Email</label>
              <div class="col-sm-6">
                <div class="md-form mt-0">
                  <input mdbInput type="text" class="form-control form-control-sm" name="email"  [(ngModel)]="email"  id="email" placeholder="Email" ngModel>
                </div>
              </div>
            </div>
         
        <button  type = "submit" id="addbutton" name="addbutton">
         Register
        </button> 
        <label>or</label>
        <button type="button" id="btncancel" class="btn btn-link"> 
        <a routerLink="/listofuser">Cancel</a>
      </button>  
      </form>
    </div>
    </div>
    