.container {
   
    padding-left: 100px;
    margin-left: -80px;
    margin-top:10px;
    margin-bottom: 5px;
    width:3500px;
  }
  
  #addbutton {
    margin: 800px 650px;
    margin-left: 790px;
    margin-right: 0px;
    width: 80px;
    height: 30px;     
    margin-top: 30px;
    margin-bottom: 5px;
    color:white;
    background-color: rgba(106, 127, 250, 0.959);
    font-size: 1.em;
    font-weight: 50;
    border-radius: 5px;
    
   }

   #btncancel{
     font-size: 0.9em;
   }

   input[id="inputfirstname"], input[id="inputlastname"], input[id="inputssoid"], input[id="inputemail"]{
     background-color: rgb(250, 248, 136);
   }
   