
    <div class="container">
    <div class="jumbotron">
        <div class="p-1 mb-2 bg-light text-dark">
          <span class="d-block p-2 bg-light text-dark">
            <h4>    
           User Registration Form 
          </h4>      
          </span>
      </div>
         
    <form #userregForm ="ngForm" (ngSubmit) = "onSubmit(userregForm.value)">
    <div class="form-group row form-sm">
        <label for="inputfirstname" class="col-sm-3 col-form-label">First Name</label>
        <div class="col-sm-6">
          <div class="md-form mt-0">
            <input mdbInput type="text" class="form-control form-control-sm" id="inputfirstname" placeholder="First name" ngmodel>
          </div>
        </div>
      </div>
      <div class="form-group row form-group-sm">
          <label for="inputlastname" class="col-sm-3 col-form-label">Last Name</label>
          <div class="col-sm-6">
            <div class="md-form mt-0">
              <input mdbInput type="text" class="form-control form-control-sm" id="inputlastname" placeholder="Last name"ngmodel>
            </div>
          </div>
        </div>

        <div class="form-group row form-group-sm">
            <label for="inputssoid" class="col-sm-3 col-form-label">SSO ID</label>
            <div class="col-sm-6">
              <div class="md-form mt-0">
                <input mdbInput type="number" class="form-control form-control-sm" id="inputssoid" placeholder="SSO ID" ngmodel>
              </div>
            </div>
          </div>

          <div class="form-group row form-group-sm">
              <label for="inputemail" class="col-sm-3 col-form-label">Email</label>
              <div class="col-sm-6">
                <div class="md-form mt-0">
                  <input mdbInput type="text" class="form-control form-control-sm" id="inputemail" placeholder="Email" ngmodel>
                </div>
              </div>
            </div>

        <button  type = "submit" id="addbutton" name="addbutton">
            <a routerLink="/regconf">Register</a>
        </button> 
        <label>or</label>
        <button type="button" id="btncancel" class="btn btn-link"> Cancel</button>
      
        </form>
    </div>
    </div>
    