<div class="container">
  
    <div class="jumbotron">
          <div class="p-2 mb-2 text-muted" style="background-color:rgb(204, 250, 166) ">  
       <h4> User registered succesfully</h4>
    </div>
        
        <div class="row ">
            <div class="col-sm-6">
        <div class="card w-65 text-center" style="width: 20rem; font-size: 0.8em;">
            <div class="card-body">
                <a class="active" id="upload" routerLink="/listofdoc"> Click here to upload/manage your documents</a>
           </div>
        </div>
        </div>
        <div class="col-sm-6" style="padding: -200px; margin-left: 800px;margin-top: -60px;">
        <div class="card w-20 text-center" style="width: 10rem; font-size: 0.8em; ">
        <div class="card-body">
                <label style="color: black">Go to &nbsp; </label>  
    <a class="active"  routerLink="/listofuser">Users List</a>
        </div>
        </div>
      </div>
</div>
</div>
