
    <div class="container">
<div class="jumbotron">
    
            <div class="p-2 mb-0 bg-light text-dark" style="padding-top: 50px;">
                
            <h4>List of Documents</h4>
          
            </div>
    
    <div class="card" style="height:80px; margin-bottom:20px; background-color: white">
          
              <table class="table">
                <thead>
                <tr>
                      <th scope="col">No.</th>
                      <th scope="col">File Name</th>
                      <th scope="col">Type</th>
                      <th scope="col">Description</th>
              </tr>
              </thead>
              <tr *ngFor="let individual of Document">
                <td>{{individual.No}}</td>
                <td>{{individual.LastName}}</td>
                <td>{{individual.Email}}</td>
                <td>{{individual.SSOID}}</td>
               </tr>
              </table>  
                     
              </div>
       
              <div class="p-3 mb-0 bg-light text-dark" >
                  
                    <h5>    
                  Upload New Document 
                  </h5>      
                  
              </div>
                 
            <form style="padding-bottom: 20px;">
              <div class="card">
            <div class="form-group row form-sm">
                <label for="inputDocument"style="padding:30px" class="col-sm-3 col-form-label">Upload New Document</label>
                <div class="col-sm-6">
                  <div class="md-form mt-4">
                    <input type="file"
                    id="avatar" name="avatar"
                    accept="image/png, image/jpeg, application/pdf, application/x-zip-compressed" class="form-control form-control-sm"  placeholder="No file chosen" ngModel>
                  </div>
                </div>
              </div>
              <div class="form-group row form-sm" style="margin-top: -50px;">
                  <label for="inputDescription"style="padding:30px;height:35px" class="col-sm-3 col-form-label">Description</label>
                  <div class="col-sm-6">
                    <div class="md-form mt-4">
                      <input mdbInput type="text" class="form-control form-control-sm" id="inputDocument" ngModel>
                    </div>
                  </div>
                </div>
                <button  type = "submit" id="addbutton" name="addbutton">
                    <a routerLink="/listofdoc">Upload</a>
                </button>
              </div> 
            </form>

            <div class="p-3 mb-2 bg-light text-dark" style="height:60px;padding-bottom: 10px">       
            <button type="button"  class="btn btn-link"> 
              <label style="color:black; text-align: center">Go to &nbsp; </label>  
              <a class="active"  routerLink="/listofuser">Users List</a>
                </button>
              </div>
              </div>
            </div>
