.container {
   
    padding-left: 100px;
    margin-left: -80px;
    margin-top:10px;
    margin-bottom: 5px;
    width:3000px;
    height:500px;
  }
  .jumbotron{
    padding-top: 20px;
  }
  input[type="file"]{
    height:35px;
}
  
  .card{
    background-color: bisque;
  }
  #addbutton {
    margin: 800px 650px;
    margin-left: 850px;
    margin-right: 0px;
    width: 80px;
    height: 30px;     
    margin-top:10px;
    margin-bottom: 20px;
    color:white;
    background-color: rgba(106, 127, 250, 0.959);
    font-size: 1.em;
    font-weight: 50;
    border-radius: 5px;
    
   }